<div class="bshare-custom">
    <a title="分享到人人网" href="http://api.bshare.cn/share/renren?url=[URL]&title=[title]&content=[content]&pic=[picURL]&publisherUuid=[UUID]" target="_blank" style="text-decoration:none;"><img src="http://static.bshare.cn/frame/images/logos/mp/renren.gif"/></a>

<a title="分享到QQ空间" href="http://api.bshare.cn/share/qzone?url=[URL]&title=[title]&content=[content]&pic=[picURL]&publisherUuid=[UUID]" target="_blank" style="text-decoration:none;"><img src="http://static.bshare.cn/frame/images/logos/mp/qzone.gif"/></a>

<a title="分享到新浪微博" href="http://api.bshare.cn/share/sinaminiblog?url=[URL]&title=[title]&content=[content]&pic=[picURL]&publisherUuid=[UUID]" target="_blank" style="text-decoration:none;"><img src="http://static.bshare.cn/frame/images/logos/mp/sinaminiblog.gif"/></a>

<a title="更多平台..." href="http://www.bshare.cn/share?url=[URL]&title=[title]&content=[content]" target="_blank" style="text-decoration:none;"><img src="http://static.bshare.cn/frame/images/logos/mp/more.gif"/></a> 
</div>
