<div class="social-links">
  <h4>Feel free to share!</h4>
  <a class="link" data-title="Share on Facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ site.baseurl }}{{ page.url }}" target="_blank">
  <svg class="icon icon-facebook"><use xlink:href="#icon-facebook"></use></svg>
  </a>
  <a class="link" data-title="Share on Twitter" href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ site.baseurl }}{{ page.url }}" target="_blank">
  <svg class="icon icon-twitter"><use xlink:href="#icon-twitter"></use></svg>
  </a>
  <a class="link" data-title="Share on Reddit" href="http://www.reddit.com/submit?url={{ site.url }}{{ site.baseurl }}{{ page.url }}" target="_blank">
  <svg class="icon icon-reddit"><use xlink:href="#icon-reddit"></use></svg>
  </a>
  <a class="link" data-title="Share via Email" href="mailto:?subject={{ page.title }}&amp;body=Check out this site {{ site.url }}{{ site.baseurl }}{{ page.url }}" target="_blank">
  <svg class="icon icon-mail"><use xlink:href="#icon-mail"></use></svg>         
  </a>
            
    
